[%# ce fichier est un template -*- mode: html; coding: utf-8; -*- -%]
[%# parametres: nom valeur label [msg] -%]
<div class="form-group [% IF msg %]has-error[% END %] ">
  <label for="[% nom %]"
	 class="col-sm-3 control-label">[% label %]&nbsp;:</label>
  <div class="col-sm-8">
    <input id="[% nom %]"
	   class="form-control"
	   type="text"
	   name="[% nom %]"
	   value="[% valeur | html %]" />
    [% IF msg %]<div class="text-danger">[% msg %]</div>[% END %]
  </div>
</div>
