[%# -*- mode: html; coding: utf-8; -*- %]

[% META title = 'Create PLanning' %]
 
[%# Render the HTML::FormHandler Form %]
[% form.render %]
 
<p><a href="[% c.uri_for(c.controller.action_for('list')) %]">Return to planning list</a></p>
